<h1>Ajouter un Bac à Litière</h1>
{{ form_start(form) }}
{{ form_row(form.titre) }}
{{ form_row(form.description) }}
{{ form_row(form.dimensions) }}
{{ form_row(form.matiere) }}
{{ form_row(form.quantiteStock) }}
{{ form_row(form.couleur) }}
{{ form_row(form.codeBarre) }}
{{ form_row(form.marque) }}
<button type="submit">Save</button>
{{ form_end(form) }}
